<!-- "Join Team" (Post) Form -->
<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Join the Scotch Team! <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name ="addForm" novalidate>

                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="spotname">Name <span class="badge">All fields required</span></label>
                    <input type="text" class="form-control" id="spotname" placeholder="Crissy Field" ng-model="formData.spotname" required>
                </div>
                <div class="form-group">
                    <label for="spotDescription">Description</label>
                    <textarea class="form-control" id="spotDescription" rows="3" placeholder="Description of new spot" ng-model="formData.spotdescription" required></textarea>
                </div>
                <!-- sportTypes -->
                <div class="form-group">
                    <label for="sportTypes">What activities are available (select 1 or more)</label>
                    <select multiple class="form-control" id="sportTypes" ng-model="formData.sporttypes" required>
                    <option>Kiteboarding</option>
                    <option>Windsurfing</option>
                    <option>Surfing</option>
                    <option>SUP</option>
                    </select>
                </div>
                <!-- spotSeason -->
                <div class="form-group">
                    <label for="spotSeason">What seasons are good (select 1 or more)</label>
                    <select multiple class="form-control" id="spotSeason" ng-model="formData.spotseason">
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>November</option>
                    <option>December</option>
                    </select>
                </div>
                <!-- example from original form
                <div class="form-group">
                    <label for="username">Username <span class="badge">All fields required</span></label>
                    <input type="text" class="form-control" id="username" placeholder="OldandGold" ng-model="formData.username" required>
                </div>
                -->
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
                </div>
                <div class="form-group">
                    <!-- Note RefreshLoc button tied to addCtrl. This requests a refresh of the HTML5 verified location. -->
                    <label for="verified">HTML5 Verified Location? <span><button ng-click="refreshLoc()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                    <input type="text" class="form-control" id="verified" placeholder= "Nope (Thanks for spamming my map...)" ng-model="formData.htmlverified" readonly>
                </div>

                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="createSpot()" ng-disabled="addForm.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>